@import "tailwindcss";

@theme {
  --color-forest-200: #acef75;
  --color-forest-300: #91ee77;
  --color-forest-400: #17e880;
  --color-forest-700: #2e482c;
  --color-forest-800: #16281f;
  --color-forest-900: #0f1c15;
  --color-forest-950: #030504;
}

@layer components {
  .container {
    @apply mx-auto w-full px-2 sm:px-4;
  }
}
