@import "tailwindcss";

@theme {
  --color-forest-200: #ACEF75;
  --color-forest-300: #91EE77;
  --color-forest-400: #17E880;
  --color-forest-700: #2E482C;
  --color-forest-800: #16281F;
  --color-forest-900: #0F1C15;
  --color-forest-950: #030504;

  --container-center: true;
}

@layer components {
  .container {
    @apply mx-auto w-full px-2 sm:px-4;
  }
}
